@import '../../main';

.bg-navbar {
    background: white;
    transition: all 0.5s ease;
    width: 100%;
    padding: 0.4rem 1.5rem;

    img {
        width: 14px;
    }
    .user-panel {
        margin-left: auto;
        > * {
            margin: 0 0.6rem;
            
        }
        img {
            width: 17px !important;
        }
        .avatar {
            img {
                width: 30px !important;
            }
        }
    }
}

